<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172929052834-trl6a271q1jjsiob38lkkufacpjf9tp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172929052834-trl6a271q1jjsiob38lkkufacpjf9tp4</string>
	<key>API_KEY</key>
	<string>AIzaSyBggefH1o7nfzDSE7EBebzOrKtF9rxv9eE</string>
	<key>GCM_SENDER_ID</key>
	<string>172929052834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arrowhitech.facedetection</string>
	<key>PROJECT_ID</key>
	<string>facedetection-app-7946d</string>
	<key>STORAGE_BUCKET</key>
	<string>facedetection-app-7946d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172929052834:ios:df5c1d084f29376af367fb</string>
	<key>DATABASE_URL</key>
	<string>https://facedetection-app-7946d.firebaseio.com</string>
</dict>
</plist>